/**
 * Device Selector Example
 *  Simon Gattner 2018
 *
**/

@keyframes fadeInBody {
  0% {
    background-color: #FFFFFF;
    opacity: 0;
  }
  100% {
    background-color: #6f776f;
    opacity: 1;
  }
}

@keyframes fadeInBoxShadow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font: normal 100%/1.2 Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #F0FFF0;
  background-color: #6f776f;
  animation: fadeInBody 1s ease-in;
}

body.capture .logo {
  display: none;
}

header {
  position: relative;
  padding: 6em 1em 2em 1em;
}

header h1 {
  margin-bottom: .6em;
}

header h2 {
  padding-bottom: .8em;
  border-bottom: 2px solid #d5e1d5;
}

header .logo {
  position: absolute;
  top: 4em;
  right: 1em;
  visibility: hidden;
}

header .logo svg, footer .logo svg {
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  vertical-align: -.125em;
  opacity: .7;
}

header .logo svg.mobile {
  height: 2em;
}

header .logo svg.tablet {
  height: 3em;
}

header .logo svg.desktop {
  height: 5em;
}

header .logo svg.large-desktop {
  height: 7em;
}

footer {
  margin: 0 1em;
  padding: 2em 0;
  border-top: 2px solid #d5e1d5;
}

footer .logo .javascript {
  height: 1em;
}

footer {
  padding: 1em 0;
  margin-bottom: 1rem;
}

footer::after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

footer p {
  display: block;
  float: right;
  max-width: 33.333%
}

footer p a {
  margin-right: 0;
  letter-spacing: 0.2em;
  vertical-align: -.1em;
  text-decoration: none;
}

footer ul {
  display: block;
  float: left;
  margin-left: -.5em;
  max-width: 66.666%;
}

footer ul li {
  display: inline-block;
  list-style: none;
}

footer ul li+li {
  margin-left: .4em;
}

footer ul li a {
  display: block;
  padding: .2em .4em;
}

main {
  padding: 0 1em 2em 1em;
}

main ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .042);
}

main ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .042);
  outline: 1px solid rgba(0, 0, 0, .9);
}

section:not(:last-child) {
  border-bottom: 1px solid #d5e1d5;
  margin-bottom: 5em;
}
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active, a:focus, {
  color: inherit;
  text-decoration: underline;
}

h1, h2, h3, h4, p {
  margin-bottom: 1em;
}

pre, dl {
  margin-bottom: 4em;
}

dl::after {
  content: ' ';
  display: table;
  width: 1px;
  height: 1px;
  clear: left;
}

dt, dd {
  float: left;
  margin-bottom: .5em;
  line-height: 2em;
  min-width: 160px;
}

dd+dt {
  clear: left;
}

dd {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

dd code {
  display: inline-block;
  padding: 0 .4em;
  margin-left: 1em;
  min-width: 160px;
  font-size: 150%;
  border-left: 1px solid #d5e1d5;
}

pre {
  position: relative;
  padding: 0 2em 3em;
  font-size: 110%;
  color: #6f776f;
  background-color: #d5e1d5;
  overflow-x: auto;
  opacity: .7;
  animation: fadeInBoxShadow 1s linear;
  transition: all 1s ease-out;
}

pre::after {
  content: "</code>";
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-size: 2em;
}

pre.inline {
  border-bottom: 2px solid #F0FFF0;
  font-size: 140%;
}

.hljs {
  background: transparent !important;
}

@media only screen and (min-width: 698px) {
  main {
    padding: 0 4em 2em 4em;
  }
  header {
    padding: 6em 4em 2em 4em;
  }
  header .logo {
    right: 4em;
    visibility: visible;
  }
  footer {
    margin: 0 4em;
  }
}

[data-device-selector-item] {
  display: none;
}

@media only screen and (max-width: 768px) {
  [data-device-selector-devicetype="mobile"] {
    display: block !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
  [data-device-selector-devicetype="tablet"] {
    display: block !important;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1200px) {
  [data-device-selector-devicetype="desktop"] {
    display: block !important;
  }
}

@media only screen and (min-width: 1201px) {
  [data-device-selector-devicetype="large-desktop"] {
    display: block !important;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
  [data-device-selector-displaytype="retina"] {
    display: block !important;
  }
}
